# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
.venv/
.env/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# Django secret key file (if you store it separately)
secret_key.txt

# VSCode / PyCharm / IDE settings
.vscode/
.idea/

# Environment variables
*.env
.env.*
